<a class="btn btn-warning" href='@Url.Action("IndexConSessionFarmacia", "Home")'>Home</a>
<a class="btn btn-warning" href='@Url.Action("Logout", "Account")'>Log Out</a>
<a class="btn btn-warning" href='@Url.Action("DatosCuentaFarmacia", "Home")'>Datos Personales</a>
<a class="btn btn-warning" href='@Url.Action("Stock", "Home")'>Tu Stock</a>
<div class="container mt-5">
    <h2>Editar Producto</h2>
    <form action='@Url.Action("Editar", "Home")' method="post">
        <input type="hidden" name="idProducto" value="@ViewBag.Producto.IdProducto" />
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-controlz" id="nombre" name="Nombre" value="@ViewBag.Producto.Nombre" required>
        </div>
        <div class="form-group">
            <label for="precio">Precio</label>
            <input type="text" class="form-control" id="precio" name="Precio" value="@ViewBag.Producto.Precio" required>
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="text" class="form-control" id="stock" name="Stock" value="@ViewBag.Producto.Stock" required>
        </div>
        <div class="form-group">
            <label for="Descripcion">Descripcion</label>
            <input type="text" class="form-control" id="Descripcion" name="Descripcion" value="@ViewBag.Producto.Descripcion" required>
        </div>
        <div class="form-group">
            <label for="NoEditable">Farmacia</label>
            <input type="text" class="form-control" id="NoEditable" name="NoEditable" value="@ViewBag.Farmacia.Nombre" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a class="btn btn-warning" href='@Url.Action("Stock", "Home")'>Cancelar</a>
    </form>
</div>

