<div class="container">
    <a class="btn btn-warning" href='@Url.Action("IndexConSessionPaciente", "Home")'>Home</a>
    <a class="btn btn-warning" href='@Url.Action("Logout", "Account")'>Log Out</a>
    <a class="btn btn-warning" href='@Url.Action("DatosCuentaPaciente", "Home")'>Datos Personales</a>
    <a class="btn btn-warning" href='@Url.Action("PedidosPaciente", "Home")'>Tus Pedidos</a>
    <a class="btn btn-warning" href='@Url.Action("HistorialRecetasPaciente", "Home")'>Tus Recetas</a>

    <div class="row">
        @if (ViewBag.Recetas == null || !(ViewBag.Recetas as List<LoginFarmaclick.Models.Receta>).Any())
        {
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    No hay Recetas almacenadas.
                </div>
            </div>
        }
        else
        {
            var recetas = ViewBag.Recetas as List<LoginFarmaclick.Models.Receta>;
            var doctores = ViewBag.doctores as List<LoginFarmaclick.Models.Doctor>;

            @for (int i = 0; i < recetas.Count; i++)
            {
                var receta = recetas[i];
                var doctor = doctores[i];
                
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Producto: @receta.Producto</h5>
                            <h5 class="card-title">Contenido: @receta.Contenido</h5>
                            <h5 class="card-title">Fecha: @receta.Fecha</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Doctor: @doctor.Nombre @doctor.Apellido</h6>
                            <p class="card-text"><strong>Email del doctor:</strong> @doctor.Email</p>
                            <p class="card-text"><strong>Teléfono:</strong> @doctor.Telefono</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <!-- Paginación -->
    <div class="row justify-content-between">
        @if (ViewBag.CurrentPage > 1)
        {
            <a class="btn btn-primary" href='@Url.Action("HistorialRecetasPaciente", "Home", new { page = ViewBag.CurrentPage - 1 })'>Anterior</a>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a class="btn btn-primary" href='@Url.Action("HistorialRecetasPaciente", "Home", new { page = ViewBag.CurrentPage + 1 })'>Siguiente</a>
        }
    </div>
</div>
