@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Farmaclick</h1>
    <p>Estas en session como Farmacia @ViewBag.Farmacia.Nombre</p>
    <a class="btn btn-warning" href='@Url.Action("IndexConSessionFarmacia", "Home")'>Home</a>
    <a class="btn btn-warning" href='@Url.Action("NotificacionesFarmacia", "Home")'>Notificaciones</a>
    <a class="btn btn-warning" href='@Url.Action("Logout", "Account")'>Log Out</a>
    <a class="btn btn-warning" href='@Url.Action("DatosCuentaFarmacia", "Home")'>Datos Personales</a>
    <a class="btn btn-warning" href='@Url.Action("Stock", "Home")'>Tu Stock</a>
    <a class="btn btn-warning" href='@Url.Action("PedidosFarmacia", "Home")'>Tu Pedidos</a>
</div>