@{
    ViewData["Title"] = "Notificaciones";
}

<div>
    <h1>Notificaciones</h1>
    <p>Estas en session como Paciente @ViewBag.Paciente.Nombre</p>
    <a class="btn btn-warning" href='@Url.Action("IndexConSessionPaciente", "Home")'>Home</a>
    <a class="btn btn-warning" href='@Url.Action("NotificacionesPaciente", "Home")'>Notificaciones</a>
    <a class="btn btn-warning" href='@Url.Action("Logout", "Account")'>Log Out</a>
    <a class="btn btn-warning" href='@Url.Action("DatosCuentaPaciente", "Home")'>Datos Personales</a>
    <a class="btn btn-warning" href='@Url.Action("PedidosPaciente", "Home")'>Tus Pedidos</a>
    <a class="btn btn-warning" href='@Url.Action("HistorialRecetasPaciente", "Home")'>Tus Recetas</a>

</div>