
    <div class="container">
    <a class="btn btn-warning" href='@Url.Action("IndexConSessionPaciente", "Home")'>Home</a>
<a class="btn btn-warning" href='@Url.Action("Logout", "Account")'>Log Out</a>
<a class="btn btn-warning" href='@Url.Action("DatosCuentaPaciente", "Home")'>Datos Personales</a>
<a class="btn btn-warning" href='@Url.Action("PedidosPaciente", "Home")'>Tu Pedidos</a>
<a class="btn btn-warning" href='@Url.Action("HistorialRecetasPaciente", "Home")'>Tus Recetas</a>
    
    <div class="row">
        @if (ViewBag.Pedidos == null) 
        {
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    No hay Pedidos realizados.
                </div>
            </div>
        }
        else
        {
            @foreach (var Pedido in ViewBag.Pedidos) 
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Producto: @Pedido.NombreProducto</h5>
                            <h5 class="card-title">Farmacia: @Pedido.NombreFarmacia</h5>
                            <h5 class="card-title">Direccion: @Pedido.Direccion</h5>
                            <h5 class="card-text"><strong>Fecha:</strong> @Pedido.Fecha</h5>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row justify-content-between">
        @if (ViewBag.CurrentPage > 1)
        {
            <a class="btn btn-primary" href='@Url.Action("PedidosPaciente", "Home", new { page = ViewBag.CurrentPage - 1 })'>Anterior</a>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a class="btn btn-primary" href='@Url.Action("PedidosPaciente", "Home", new { page = ViewBag.CurrentPage + 1 })'>Siguiente</a>
        }
    </div>