<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="~/css/loginfarma.css" asp-append-version="true" />
</head>
<body>
<img src="~/img/fondo.png" class="fondo">
    <div class="container mt-5">
        <div class= "Volver">
        <a class="btn btn-warning" href='@Url.Action("index", "Home")'>✖</a>
        </div>
        <img src="~/img/imago.png" class="logo">
        <h1>Iniciar sesion</h1>
        <h2>@ViewBag.Error</h2>
        <form action='@Url.Action("DatosLoginFarmacia", "Account")' method="post">
            <div class="form-group">
            <input type="email" class="form-control" id="Email" name="Email" placeholder = "Email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="Contraseña" name="Contraseña" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar</button>
        </form>
        <div class="forgot-password text-center">
        <a class="btn btn-warning" href='@Url.Action("OlvideContraseñaFarmacia", "Account")'>¿Olvidaste tu contraseña?</a>
        </div>
        <div class= "vaAlRegistro">
        <a class="btn btn-warning" href='@Url.Action("RegistrarseFarmacia", "Account")'>¿No tenes cuenta? Registrate</a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
